<center> <h1> Essential genes obtained from DEG database (http://www.essentialgene.org/)</h1>

<b>Autor:</b> Edwin Rueda <br>
<b>email:</b> ejrueda95g@gmail.com <br>
<b>github:</b> https://github.com/ejrueda <br>
<b>website:</b> http://edwinrueda.com/ <br>
<b> You can cite this work with</b>:

@software{edwin_rueda_2020_3843381,<br>
  author       = {Edwin Rueda},<br>
  title        = {ejrueda/MasterUFPA: zenodo release},<br>
  month        = may,<br>
  year         = 2020,<br>
  publisher    = {Zenodo},<br>
  version      = {zenodo},<br>
  doi          = {10.5281/zenodo.3843381},<br>
  url          = {https://doi.org/10.5281/zenodo.3843381}<br>
}

In [9]:
import pandas as pd
import numpy as np

Reference: 	Gerdes SY, et al (2003). Experimental determination and system level analysis of essential genes in Escherichia coli MG1655. J Bacteriol, 185:5673-84.['Supplemental Materials']

In [11]:
data_essential_genes = pd.read_csv("../data/DEG_essential_genes_Ecoli_MG1655I.csv")
e_genes = data_essential_genes[" Gene Name"].values
data_essential_genes.head()

,No,DEG ID,Gene Name,Function,Organism
0,1,DEG10180001,mog,Molybdopterin biosynthesis mog...,Escherichia coli MG1655 I
1,2,DEG10180002,dnaK,Chaperone protein dnaK,Escherichia coli MG1655 I
2,3,DEG10180003,insA,Insertion element IS1 1/2/3/5/...,Escherichia coli MG1655 I
3,4,DEG10180004,rpsT,30S ribosomal protein S20,Escherichia coli MG1655 I
4,5,DEG10180005,ribF,Riboflavin biosynthesis protei...,Escherichia coli MG1655 I

In [13]:
ess_genes = []
for g in e_genes:
    for k in g.strip().split("/"):
        ess_genes.append(k)

In [14]:
len(np.unique(ess_genes))

689

In [16]:
candidates = pd.read_csv("../data/ICCSA_cantidates_06_03_20_v1.csv", index_col=0)
print("number of candidate genes:", len(candidates.index.unique()))
print(candidates.shape)
candidates.head()

number of candidate genes: 807
(807, 9)

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
aaeA,-1.021960,-0.979435,-1.070980,-0.936075,-0.964250,-1.031994,-0.934337,-0.939543,-0.937269
aas,-0.922192,-0.918634,-0.912901,-0.955073,-0.996782,-0.974946,-0.973578,-0.897515,-0.892211
accB,-0.514109,0.918962,1.020704,0.785425,0.781750,0.679621,0.702075,0.594880,0.713118
aceB,0.857671,0.777676,0.822172,0.077504,0.069610,-0.091237,-0.130144,1.031624,-0.112132
aceE,0.966515,0.934333,1.030230,0.849922,0.855701,0.749005,0.780537,0.621839,0.832078

In [35]:
new_candidates = candidates.reindex(ess_genes).dropna()
new_candidates = new_candidates[~new_candidates.index.duplicated()]
new_candidates

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
mog,0.656634,0.623242,0.695255,0.674127,0.633453,0.641202,0.567436,-0.918164,0.565987
rpsT,0.032127,0.042489,0.186805,0.085710,0.050350,-0.065027,-0.044955,-0.319807,-0.105564
ileS,0.722778,0.683867,0.766918,0.752271,0.744708,0.666272,0.613139,0.538954,0.640299
lptD,0.814114,0.805638,0.876417,0.896848,0.891923,0.807026,-0.747148,0.570029,0.704011
rsmH,0.689306,0.673681,0.738644,0.738341,0.722884,0.695303,0.607246,-0.902356,0.618859
...,...,...,...,...,...,...,...,...,...
holC,0.680797,0.636754,0.696756,0.734350,0.703888,0.686337,0.605014,0.575544,0.627773
lptG,0.611195,0.584309,0.601032,0.648145,0.648923,0.651906,0.600558,0.587530,0.632084
dnaC,0.698414,0.662286,0.747248,0.794121,0.770666,0.752823,0.653818,0.614119,0.630877
dnaT,0.604622,0.579651,0.586605,0.698498,0.671148,0.643785,0.563173,-0.923145,0.605709
yjjV,0.612664,0.615275,0.675698,0.716000,0.685188,0.661620,0.657961,0.596912,0.695507

In [39]:
artigo_moose = pd.read_csv("../data/RG_artigoMoose.txt", names=["genes"])
artigo_moose.head()

  genes
0  dnaG
1  dtpB
2  ftsX
3  ftsY
4  glyY

In [38]:
new_candidates.reindex(artigo_moose.genes.values).dropna()

,BB9,BB10,BB17,BB19,BB20,BB21,BB11,BB12,BB18
gene,,,,,,,,,
ftsY,0.734632,0.733591,0.79466,-0.650803,0.759634,0.736101,0.682666,0.613599,0.705083
ndk,-0.281602,-0.242767,-0.12836,-0.089681,-0.134461,-0.211738,-0.192042,1.009335,-0.286640